<!doctype html>
<html>
    <head><title>The Math Challenge</title></head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Welcome <a href="/user/profile/{{userId}}">{{ username }}</a> 
        {% if rank %} 
        &nbsp;({{ rank }} / {{ total_users }})
        {% else %}
        (unranked)
        {% endif %}
        </p>
        <p>
        Remember to practice every day in order to improve your mental maths skills. 
        </p>
        <p>
            Quiz<br />
            <a href="/quiz/addsub">Addition and Subtraction</a><br />
            <a href="/quiz/multdiv">Multiplication and Division</a><br />
            <a href="/quiz/all">I'm feeling badass</a><br />
        </p>
        <p>
        <a href="/feedback">Feedback</a> |
            <a href="/leaderboard">Leaderboard</a><br />
            {% if actual_difficulty != "Easy" %}
             <a href="/set_difficulty">Change quiz difficulty</a> |
            {% endif %}
            <a href="mxit://[communityportal]/RecommendPage?ItemId=9748716" type="mxit/service-navigation">Invite Friends</a>
        </p>
        <p>Current quiz Level: {{ current_difficulty }}</p>
        <p>Level: {{ actual_difficulty }} (answer more than 5 questions on "I'm feeling badass" with 80% correct to level up!)</p>
{{ ad() | safe }}
    </body>
</html>
