<!doctype html>
<html>
    <body>
        <p style="color: rgb(205, 20, 0); ">Math Workout</p>
        <p>Welcome <i>SomePerson1</i> (256/1209)</p>
        <p>Level: Easy (do the I'm feeling ready test to level up)</p>
        <p>
            Quiz<br />
            <a href="/quiz/addsub/easy">Addition and Subtraction</a><br />
            <a href="/quiz/multdiv/easy">Multiplication and Division</a><br />
            <a href="/quiz/test">I'm feeling ready</a><br />
        </p>
        <p>
            <a href="/leaderboard">Leaderboard</a><br />
        </p>
    </body>
</html>
