<!doctype html>
<html>
    <body>
        <p style="color: rgb(205, 20, 0); ">The Math Challenge</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Welcome <i>{{ username }}</i> 
        {% if rank %} 
        &nbsp;({{ rank }} / {{ total_users }})
        {% else %}
        (unranked)
        {% endif %}
        </p>
        <p>
            Quiz<br />
            <a href="/quiz/addsub">Addition and Subtraction</a><br />
            <a href="/quiz/multdiv">Multiplication and Division</a><br />
            <a href="/quiz/all">I'm feeling badass</a><br />
        </p>
        <p>
        <a href="/feedback">Feedback</a><br />
            <a href="/leaderboard">Leaderboard</a><br />
            {% if actual_difficulty != "Easy" %}
            <a href="/set_difficulty">Change quiz difficulty</a>
            {% endif %}
        </p>
        <p>Current quiz Level: {{ current_difficulty }}</p>
        <p>Level: {{ actual_difficulty }} (answer more than 10 questions on "I'm feeling badass" with 80% correct to level up!)</p>
    </body>
</html>
