<!doctype html>
<html>
    <body>
{{ ad() | safe }}
        <p><b>Leaderboard -  {{ difficultyName | title }}</b></p>
        <p>
            {% for user in leaderboard %}
            <b> {{ loop.index  + page*10 }}) </b> <a href="/user/profile/{{user[2]}}">{{ user[0] }}</a> ({{ user[1] }}) <br /> 
            {% else %}
            There isn't anyone on the leaderboard! Be the first and make your mark!
            {% endfor %}
        </p>
        {% if userPosition %}
        <p><b>{{userPosition[0]}}</b> <a href="/user/profile/{{userPosition[1]}}">You</a> ({{userPosition[2]}})</p>
        {% endif %}
        <p>
            {% if not lastPage %}
            <a href="/leaderboard/{{scoring}}/{{difficulty}}/{{ page + 1}}">Next</a>
            {% endif %}
            {% if page != 0 %}
            <a href="/leaderboard/{{scoring}}/{{difficulty}}/{{ page - 1}}">Previous</a>
            {% endif %}
        </p>
        <p>
        {% for type in ('easy', 'medium', 'hard') %}
            {% if type == difficulty %}<i>{% endif %}
                <a href="/leaderboard/{{ scoring }}/{{ type }}">{{ type.title() }}</a>
            {% if type == difficulty %}</i>{% endif %}
        {% endfor %}
        </p>
        <p>
            Scoring type: 
            {% for type in ('points', 'streak') %}
            {% if scoring == type %}<i>{% endif %}
            <a href="/leaderboard/{{ type }}/{{ difficulty }}">{{type.title() }}</a>
            {% if scoring == type %}</i>{% endif %}
            {% endfor %}
        </p>
            <a href="/">Home</a> | <a href="/feedback">Feedback</a>
{{ ad() | safe }}
    </body>
</html>
