<!doctype html>
<html>
    <body>
        <p><b>Leaderboard</b></p>
        <p>
        {% for user in leaderboard %}
        <b> {{ loop.index  + page*10 }}) </b> {{ user[0] }} ({{ user[1] }}) <br />
        {% else %}
        Leaderboard is empty. Meh.
        {% endfor %}
        </p>
        <p>
        {% if not lastPage %}
            <a href="/leaderboard/{{ page + 1}}">Next</a>
        {% endif %}
        {% if page != 0 %}
            <a href="/leaderboard/{{ page - 1}}">Previous</a>
        {% endif %}
            <a href="/">Home</a>
        </p>
    </body>
</html>
