<!doctype html>
<html>
    <body>
        <p><b>Leaderboard</b></p>
        <p>
            {% for user in leaderboard %}
            <b> {{ loop.index  + page*10 }}) </b> <a href="/user/profile/{{user[2]}}">{{ user[0] }}</a> ({{ user[1] }}) <br />
            {% else %}
            There isn't anyone on the leaderboard! Be the first and make your mark!
            {% endfor %}
        </p>
        <p>
            {% if not lastPage %}
            <a href="/leaderboard/{{difficulty}}/{{ page + 1}}">Next</a>
            {% endif %}
            {% if page != 0 %}
            <a href="/leaderboard/{{difficulty}}/{{ page - 1}}">Previous</a>
            {% endif %}
        </p>
        <p>
            <a href="/leaderboard/easy">Easy</a>
            <a href="/leaderboard/medium">Medium</a>
            <a href="/leaderboard/hard">Hard</a>
        </p>

            <a href="/">Home</a> 
    </body>
</html>
