{% extends "template.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: rgb(220, 0, 0); "><b>{{ message }}</b></p>
    {% endfor %}
    {% endif %}
{% endwith %}
{% if answered %}
    {% if correct %}
    <p style="color: rgb(0, 200, 0);">Correct!</p>
    {% else %}
    <p ><span style="color: rgb(200, 0, 0);">Incorrect</span> :( Answer was {{ correctAnswer}}</p>

    {% endif %}
    {% for score in scoring %} 
    <p>{{ score }}</p>
    {% endfor %}
{% endif %}
<p>{{ timeRemaining }} seconds remaining.</p>
<form action="" method="post">
    <p>What is <b>{{ question }}</b>?</p>
    <input type="text" name="result" />
    <input type="submit" />
</form>

<br />

{% endblock %}
