<!doctype html>
<html>
    <body>
        {% if correct is none %}
        {% else %}
            {% if correct %}
            <p style="color: rgb(0, 200, 0);">Correct!</p>
            {% else %}
            <p style="color: rgb(200, 0, 0);">Incorrect :(</p>
            {% endif %}
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p style="color: rgb(0, 220, 0); "><b>{{ message }}</b></p>
            {% endfor %}
            {% endif %}
        {% endwith %}
        {% if newDifficulty %}
        <p style="color: rgb(10, 210, 0);">{{ newDifficulty }} difficulty level attained! Click on 'change
        difficulty' on the home page to update.</p>
        {% endif %}
        Time's up!<br />
        {% if score > oldHighScore %}
        New high score!<br />
        {% endif %}
        You got {{ numberCorrect }} correct out of {{ total }}.<br />
        Final score: {{ score }} ! <br />
        {% if leaderboardJump > 0 %}
        You jumped up the leaderboard by {{ leaderboardJump }} positions!
        {% endif %}
        <a href="/">Home</a>
    </body>
</html>
