<!doctype html>
<html>
    <body>
        {% if error %}
            <p style="color: rgb(220, 0, 0); "><b>{{ error }}</b></p>
        {% endif %}
        {% if answered %}
            {% if correct %}
            <p style="color: rgb(0, 200, 0);">Correct!</p>
            {% else %}
            <p style="color: rgb(200, 0, 0);">Incorrect :(</p>
            {% endif %}
        {% endif %}
        <p>{{ numberRemaining }} questions remaining</p>
        <form action="" method="post">
            <input type="hidden" name="question" value="{{ answer }}" />
            <p>What is <b>{{ question }}</b>?</p>
            <input type="text" name="result" />
            <input type="submit" />
        </form>

        <br />

        <a href="/quiz/restart">Restart</a>

        <br />
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboard</a>
    </body>
</html>
